body{
    text-align: center;
}
img {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 315px;
    width: 215px;
}
.container {
    margin-top: 25px;
    height: 45px;
    width: 215px;
}
p {
    align-content: center;
}
.card, .paragraph {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: 7%;
    float: left;
    align-items: center;
}
.card:hover {
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.2);
  }
.pics {
    margin-top: 3%;
}
.paragraph {
    margin-right: 8%;
    margin-top: 1%;
    text-decoration: wavy;
}
.paragraph:hover {
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.2);
}