node-sequelize/node_modules/ 
rest-api/node_modules/
backend/node_modules/
apis/node_modules/
cli/node_modules/
folder/node_modules/
boilerplate-structure/node_modules/
test/node_modules/
test2/node_modules/
structure/node_modules/
demo/node_modules/
HRMS-Node/node_modules/
password-grant-oauth2.0/node_modules/